<div class="container">
    <div class="row">
      <div class="col-sm text-center" >
        <a href="/sportif"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-users"></i></span>
          <br>Sportifs
        </a>
      </div>
      <div class="col-sm text-center" >
        <a href="/gymnases"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-university" aria-hidden="true"></i></span>
          <br>Gymnases
        </a>
      </div>
    </div>
  </div>